
<!doctype html>
<html>
<head>
    <title>Test</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!-- jQuery Import -->
    <script type="text/javascript" src="..\libraries\jQuery\jQuery.js"></script>

    <!-- Bootstrap Import -->
    <link rel="stylesheet" href="..\libraries\bootstrap-4.1.0\dist\css\bootstrap.css">
    <script type="text/javascript" src="..\libraries\bootstrap-4.1.0\dist\js\bootstrap.js"></script>
    
    <!-- Custom Import -->
    <link rel="stylesheet" href="..\styles\styles.css">
    <script type="text/javascript" src="..\js\main.js"></script>
</head>

<body>
<div>
    <div class="body">
        <h1 class="body-header">Place cards in div below.</h1>
        <div class="card-area">
            
        </div>
    </div>
</div>
</body>
</html>
